@import '../../css/colors.scss';

.spx-button {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    padding: 3px 15px;
    background-color: $color-lightgreen;

    &--active {
        background-color: $color-green;
    }
}